{% extends 'layout.html' %} 
{% load i18n translater %}
{% load static %}
{% block content %}
    <div class="container p-4">
        <section class="splide" aria-label="Splide Basic HTML Example">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for b in banner %}
                    <li class="splide__slide rounded h-40 overflow-hidden">
                        <img src="{% get_media_prefix %}{{ b.image }}" alt="" class="image-fluid w-100 rounded" />
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
    <section class="bg-orange-500 w-full gap-1 flex items-center relative px-2 py-1">
        <span class="inset-y-0 bg-orange-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-white" viewBox="0 0 32 32">
                <path fill="currentColor" d="M21 6.07C21 4.37 22.38 3 24.07 3s3.06 1.37 3.07 3.07v6.225a3.722 3.722 0 0 1 0 7.19v6.235a3.07 3.07 0 0 1-6.14 0v-.232l-5.93-2.918a7.725 7.725 0 0 0-1.931-.648a8.166 8.166 0 0 0-1.459-.132l-.004-.01H10v6.018c0 .67-.54 1.21-1.21 1.21H6.216c-.67 0-1.21-.54-1.21-1.21V21.78h-1.28C2.772 21.78 2 21.03 2 20.11v-8.43c0-.93.77-1.68 1.727-1.68h8.045a7.844 7.844 0 0 0 3.3-.78L21 6.303V6.07ZM7.006 21.78v5.228H8V21.78h-.994ZM19.55 9.303l-3.384 1.665l-.007.004c-.992.478-2.06.798-3.159.942v7.719l.098.257c1.066.15 2.106.47 3.074.945l3.378 1.662V9.303Z" />
            </svg>
        </span>
        <article class="overflow-hidden w-full">
            <p class="text-xs text-white moving-text w-full">
                {% if pengumuman %}
                {% translater user.languages.code pengumuman.text_pengumuman pengumuman.text_pengumuman %}
                {% endif %}
            </p>
        </article>
    </section>

    <div class="container p-4">
        <div class="my-3">
            <strong class="">
                {% translater user.languages.code "text_product_category" "Product Category" %}
            </strong>
        </div>
        <div class="flex flex-col gap-5 overflow-y-hidden flex-wrap overflow-x-scroll h-[250px]" style="height: 280px;">
            {% for ktg in kategori %}
            <div class="flex justify-between flex-col items-center my-2 cursor-pointer h-[90px] w-[100px]" onclick="redirect_kategori('{{ ktg.pk }}')">
                <img src="{% get_media_prefix %}{{ ktg.icon }}" alt="{{ ktg.nama }}" class="w-13 h-[6rem]" />
                <span class="text-[12px] font-bold text-center">{% translater user.languages.code ktg.nama ktg.nama %}</span>
            </div>
            {% endfor %}
        </div>
        {% comment %} <div>
            <label for="">{% translater user.languages.code "List Negara" "List Negara" %}</label>
            <select name="languange" id="language" class="w-full rounded-full my-2 py-1">
                {% for l in languages %}
                <option value="{{ l.id }}">{{ l.nama }}</option>
                {% endfor %}
            </select>
        </div> {% endcomment %}
    </div>

    <div class="p-4">
        <div class="container my-3">
            <div class="flex justify-between my-4 items-baseline">
                <h1 class="font-bold">{% translater user.languages.code "Product" "Produk" %}</h1>
                <a href="/produk" class="text-sm underline text-slate-400">{% translater user.languages.code "Selengkapnya" "Selengkapnya" %}</a>
            </div>
            <div class="grid grid-cols-2 flex-wrap gap-6 overflow-auto">
                {% for a in produk.object_list %}
                <div class="min-w-[112px] rounded-xl">
                    <a href="{% url 'produk_detail' a.slug  %}">
                        {% if a.gambarutama %}
                        <img src="/media/{{ a.gambarutama.gambar }}" class="object-cover max-h-40 w-full" alt="" />
                        {% else %}
                        <img src="{% static 'sample.png' %}" class="image-fluid" alt="" />
                        {% endif %}
                        <span class="text-xs bg-fuchsia-700 px-2 rounded-r-full p-1 font-semibold text-white ktg-translate" id="ktg-${index_res}">
                            {% if a.tipe %}
                                {{ a.tipe.nama }}
                            {% else %}
                                Untype
                            {% endif %}
                        </span>
                        <div class="flex flex-col p-2 w-full gap-1">
                            <p class="text-xs text-slate-600 text-[9px] toko-r" id="toko-r-${index_res}">{% translater user.languages.code "Toko" "Toko" %} <strong>
                                {{ a.store.nama }}
                            </strong></p>
                            <h4 class="text-sm produk-nama" id="produk-nama-${index_res}">{% translater user.languages.code a.nama a.nama %}</h4>
                            <p class="font-bold text-xs text-orange-400 produk-coin" id="produk-coin-${index_res}">Coin: {{ a.harga }} π</p>
                            <hr />
                            <div class="flex flex-row justify-between mx-3">
                                <p class="text-xs text-slate-600 produk-stok" id="produk-stok-${index_res}">{% translater user.languages.code "Stock" "Stock" %} :{{ a.stok_produk }}</p>
                                <p class="text-xs text-slate-600 produk-stok" id="produk-stok-${index_res}">{% translater user.languages.code "Terjual" "Terjual" %} :{{ a.terjual }}</p>
                            </div>
                            <div class="rating">
                                <input type="radio" value="0" name="rating-{{ forloop.counter }}" style="display: none;" class="mask mask-star-2 bg-orange-400" disabled {% if a.count_star is None %} checked {% endif %}/>
                                <input type="radio" value="1" name="rating-{{ forloop.counter }}" class="mask mask-star-2 bg-orange-400" disabled {% if a.count_star == 1 %} checked {% endif %} />
                                <input type="radio" value="2" name="rating-{{ forloop.counter }}" class="mask mask-star-2 bg-orange-400" disabled {% if a.count_star == 2 %} checked {% endif %} />
                                <input type="radio" value="3" name="rating-{{ forloop.counter }}" class="mask mask-star-2 bg-orange-400" disabled {% if a.count_star == 3 %} checked {% endif %} />
                                <input type="radio" value="4" name="rating-{{ forloop.counter }}" class="mask mask-star-2 bg-orange-400" disabled {% if a.count_star == 4 %} checked {% endif %} />
                                <input type="radio" value="5" name="rating-{{ forloop.counter }}" class="mask mask-star-2 bg-orange-400" disabled {% if a.count_star == 5 %} checked {% endif %} />
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %} 
{% block script %}
    <script>
        $(function(){
            $("#language").on("change", function(e){
                let languages = $(this).val()
                // getProduk(languages)
            })
        })
        async function translate(obj, id){
            $.ajax({
                url:"{% url 'translated_json' %}",
                method: "POST",
                data:{ text_translate:obj, to:"{{ user.languages.code }}" },
                success: function(res){
                    $(`${id}`).text(res.data)
                }
            })
        }

        function loopdata(obj, i=0){
            if(obj[i]){
                let index_res = i
                let data_res = obj[i]
                let html = `
                    <div class="min-w-[112px] rounded-xl">
                        <a href='${data_res.produk_detail_url}'>
                            ${data_res.gambar ? 
                                    (data_res.gambar.length > 0 ?
                                        `<img src="${data_res.gambar[0].gambar}" class="object-cover max-h-40 w-full" alt="" />`
                                    :
                                        `<img src="{% static 'sample.png' %}" class="image-fluid" alt="" />`
                                    )
                                :
                                `<img src="{% static 'sample.png' %}" class="image-fluid" alt="" />`
                            }
                            <span class="text-xs bg-fuchsia-700 px-2 rounded-r-full p-1 font-semibold text-white ktg-translate" id="ktg-${index_res}">
                                ${data_res.tipe ? 
                                    data_res.tipe.nama : "Untype"
                                }
                            </span>
                            <div class="flex flex-col p-2 w-full gap-1">
                                <p class="text-xs text-slate-600 text-[9px] toko-r" id="toko-r-${index_res}">Toko <strong>
                                    ${data_res.store.nama}
                                </strong></p>
                                <h4 class="text-sm produk-nama" id="produk-nama-${index_res}">${data_res.nama}</h4>
                                <p class="font-bold text-xs text-orange-400 produk-coin" id="produk-coin-${index_res}">Coin: ${data_res.harga} π</p>
                                <hr />
                                <p class="text-xs text-slate-600 produk-stok" id="produk-stok-${index_res}">Stock :${data_res.stok_produk}</p>
                                <div class="rating">
                                    <input type="radio" value="1" name="rating-1" style="display: none;" class="mask mask-star-2 bg-orange-400" disabled ${data_res.count_star == 0 ? "checked" : "" } />
                                    <input type="radio" value="1" name="rating-1" class="mask mask-star-2 bg-orange-400" disabled ${data_res.count_star == 1 ? "checked" : "" } />
                                    <input type="radio" value="2" name="rating-1" class="mask mask-star-2 bg-orange-400" disabled ${data_res.count_star == 2 ? "checked" : "" } />
                                    <input type="radio" value="3" name="rating-1" class="mask mask-star-2 bg-orange-400" disabled ${data_res.count_star == 3 ? "checked" : "" } />
                                    <input type="radio" value="4" name="rating-1" class="mask mask-star-2 bg-orange-400" disabled ${data_res.count_star == 4 ? "checked" : "" } />
                                    <input type="radio" value="5" name="rating-1" class="mask mask-star-2 bg-orange-400" disabled ${data_res.count_star == 5 ? "checked" : "" } />
                                </div>
                            </div>
                        </a>
                    </div>
                `
                $('#produks-list').append(html)
                i = i + 1
                loopdata(obj, i)
            }else{
            }
        }
        async function getProduk(negara=null){

            $.ajax({
                url: '{% url "produk-list" %}',
                method:"get",
                data:{ negara: negara},
                success: function(res){
                    if(res.count > 0){
                        loopdata(res.results)
                    }else{
                        $("#produks-list").html("")
                    }
                }
            })
        }
        var splide = new Splide(".splide");
        $(function () {
            // getProduk()
            splide.mount();
            // Pi.Ads.isAdReady("rewarded").then(e => {
            //     console.log("====",e)
            // })
            // Pi.Ads.showAd("rewarded").then(e => {
            //     console.log("-=-=-=",e)
            // })
        });

        const redirect_kategori = (kategori) => {
            window.location.href = "/produk/?kategori=" + kategori;
        };
        function href_click(res) {
            window.location.href = "/produk/detail/" + res;
        }
    </script>
{% endblock %}
