{% load static translater%}
<nav class="h-auto bg-black bottom-0 pt-4 pb-1 shadow-md sticky max-w-[450px]">
    {% with request.resolver_match.url_name as url_name %}
    <ul class="flex items-center justify-evenly text-sm">
        <li>
            <a href="/home" class="{% if url_name == 'home' %}text-[#b50795]{% else %}text-white hover:text-slate-900{% endif %} items-center flex flex-col">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 256 256">
                    <path fill="currentColor" d="m221.56 100.85l-79.95-75.47l-.16-.15a19.93 19.93 0 0 0-26.91 0l-.17.15l-79.93 75.47a20.07 20.07 0 0 0-6.44 14.7V208a20 20 0 0 0 20 20h48a20 20 0 0 0 20-20v-44h24v44a20 20 0 0 0 20 20h48a20 20 0 0 0 20-20v-92.45a20.07 20.07 0 0 0-6.44-14.7ZM204 204h-40v-44a20 20 0 0 0-20-20h-32a20 20 0 0 0-20 20v44H52v-86.72l76-71.75l76 71.75Z" />
                </svg>
                {% translater user.languages.code "bottombar_home" "Home" %}
            </a>
        </li>
        <li>
            <a href="/produk" class="{% if url_name == 'produk' %}text-[#b50795]{% else %}text-white hover:text-slate-900{% endif %} items-center flex flex-col">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 14"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M12.88 12.39a1 1 0 0 1-.25.78a1 1 0 0 1-.75.33H2.12a1 1 0 0 1-.75-.33a1 1 0 0 1-.25-.78L2 4.5h10ZM4.5 4.5V3a2.5 2.5 0 0 1 5 0v1.5"/></svg>
                {% translater user.languages.code "bottombar_produk" "Produk" %}
            </a>
        </li>
        <li class=" rounded-full w-10 ">

            <a href="/jual/" class="{% if url_name == 'jual' %}text-[#b50795]{% else %}text-white  hover:text-slate-900{% endif %} items-center flex flex-col relative">
                <span class="flex items-center  justify-center border-[6px] border-black bg-[#F19400] text-white p-5 rounded-full absolute -translate-y-12">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 24 24"><path fill="currentColor" d="M11 6H9q-.425 0-.713-.288T8 5q0-.425.288-.713T9 4h2V2q0-.425.288-.713T12 1q.425 0 .713.288T13 2v2h2q.425 0 .713.288T16 5q0 .425-.288.713T15 6h-2v2q0 .425-.288.713T12 9q-.425 0-.713-.288T11 8V6ZM7 22q-.825 0-1.413-.588T5 20q0-.825.588-1.413T7 18q.825 0 1.413.588T9 20q0 .825-.588 1.413T7 22Zm10 0q-.825 0-1.413-.588T15 20q0-.825.588-1.413T17 18q.825 0 1.413.588T19 20q0 .825-.588 1.413T17 22ZM3 4H2q-.425 0-.713-.288T1 3q0-.425.288-.713T2 2h1.65q.275 0 .525.15t.375.425L8.525 11h7l3.625-6.5q.125-.25.35-.375T20 4q.575 0 .863.488t.012.987L17.3 11.95q-.275.5-.738.775T15.55 13H8.1L7 15h11q.425 0 .713.288T19 16q0 .425-.288.713T18 17H7q-1.125 0-1.713-.975T5.25 14.05L6.6 11.6L3 4Z"/></svg>
                
                </span>
                <span class="mt-5">
                    {% translater user.languages.code "bottombar_jual" "Jual" %}
                </span>
                
            </a>
        </li>
        <li>
            <a href="/tutorial" class="{% if url_name == 'tutorial' %}text-[#b50795]{% else %}text-white hover:text-slate-900{% endif %} items-center flex flex-col">
                <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8zm-2-3.5l6-4.5l-6-4.5z"/></svg>
                {% translater user.languages.code "bottombar_about_us" "About Us" %}
            </a>
        </li>
        <li>
            {% comment %} <a href="{% url 'profile' %}"> {% endcomment %}
            <a href="#" class="{% if url_name == 'profile' %}text-[#b50795]{% else %}text-white hover:text-slate-900{% endif %} items-center flex flex-col">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 -960 960 960"><path fill="currentColor" d="M80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z"/>
                </svg>
                {% translater user.languages.code "bottombar_chat" "Chat" %}
            </a>
        </li>
    </ul>
    {% endwith %}
</nav>