{% load static translater %}
<nav class="sticky py-3 top-0 z-[99999] bg-[#F19400] flex flex-col  ">
    <div class="flex flex-row justify-between px-4 gap-2 items-center">
        <div class="bg-white border-2 p-1 rounded-full">
            <a href="/home">
                <img src="{% static 'logo_tunggal.png' %}" alt="" style="width: 40px" />
            </a>
        </div>
        <div class="relative flex justify-between items-center rounded-full">
            <span class="absolute left-0 text-slate-600 translate-x-2"
                ><svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m21 21l-4.343-4.343m0 0A8 8 0 1 0 5.343 5.343a8 8 0 0 0 11.314 11.314Z" /></svg
            ></span>
            <form action="{% url 'search_product' %}" method="get">
                <input type="search" name="q" class="w-full border-none pl-8 bg-slate-100 rounded-full focus:ring-0" placeholder="{% translater user.languages.code "navbar_text_search" "Search Product..." %}" value="{{ request.GET.q }}"/>
            </form>
        </div>
    
        {% comment %}
        <a href="/beli/" class="text-white hover:text-fuchsia-700 min-w-[44px] p-2 hover:bg-slate-200/30 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path fill="currentColor" d="m15.37 3.44l3.212 5.562h3.423v2h-1.167l-.757 9.083a1 1 0 0 1-.996.917H4.925a1 1 0 0 1-.997-.917l-.757-9.083H2.005v-2h3.422L8.639 3.44l1.732 1l-2.634 4.562h8.535L13.639 4.44l1.732-1Zm3.46 7.562H5.179l.667 8h12.319l.667-8Zm-5.825 2v4h-2v-4h2Zm-4 0v4h-2v-4h2Zm8 0v4h-2v-4h2Z" />
            </svg>
        </a>
        {% endcomment %}
        <div class="relative">
            <a href="{% url 'profile' %}" class="{% if url_name == 'profile' %}text-[#b50795]{% else %}text-white hover:text-slate-900{% endif %} items-center flex flex-col">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                    <path
                        fill="currentColor"
                        fill-rule="evenodd"
                        d="M12 4a8 8 0 0 0-6.96 11.947A4.99 4.99 0 0 1 9 14h6a4.99 4.99 0 0 1 3.96 1.947A8 8 0 0 0 12 4Zm7.943 14.076A9.959 9.959 0 0 0 22 12c0-5.523-4.477-10-10-10S2 6.477 2 12a9.958 9.958 0 0 0 2.057 6.076l-.005.018l.355.413A9.98 9.98 0 0 0 12 22a9.947 9.947 0 0 0 5.675-1.765a10.055 10.055 0 0 0 1.918-1.728l.355-.413l-.005-.018ZM12 6a3 3 0 1 0 0 6a3 3 0 0 0 0-6Z"
                        clip-rule="evenodd" />
                </svg>
                {% translater user.languages.code "navbar_text_profile" "Profile" %}
            </a>
        </div>
    </div>
    <div id="google_translate_element"></div>
</nav>
<script>
    function show() {
        const box = document.getElementById("notif_box");
        box.classList.toggle("hidden");
    }
</script>
