{% extends 'layout.html' %}
{% load static %}

{% block bottom_nav %}
{% endblock %}

{% block content %}
<div class=" mt-3 mb-4 {% if address|length > 2%}{% else %}h-screen{% endif %} mx-5">
    <div class="flex flex-row shadow-sm border rounded-lg p-2 my-2">
        <div>
            <a href="{% url 'toko' id %}" class="font-bold"> < Back </a>
        </div>
        <div></div>
    </div>
    <div class="flex flex-col border border-solid border-inherit min-h-10 flex-column p-2 rounded-lg">
        <div class="flex flex-col gap-2">
            <div class="flex flex-col">
                <a href="{% url 'tambah_alamat_toko' user.id %}" class="no-underline p-1 h-8 rounded-full color-black bg-green-600 text-center text-white"> + Tambah Alamat</a>

            </div>
            <div>
                {% for addr in address %}
                <div class="border rounded-lg p-3 flex flex-row my-2 cursor-pointer {% if addr.is_primary %} bg-slate-400{% endif %}" onclick="clickprimary('{{ addr.pk }}')">
                    <div>
                        <p class="font-bold">{{ addr.address }}</p>
                        <span>{{ addr.province.nama }}</span> - <span>{{ addr.regency.name }}</span> - <span>{{ addr.distric.name }}</span> - <span>RT. {{ addr.rt }}</span> - <span>RW. {{ addr.rw }}</span>
                        <div class="flex flex-row justify-between">
                            <div>
                                <form action="{% url 'delete_alamat_toko' id=addr.userstore_id id_alamat=addr.pk %}" method="post">
                                    <button type="submit" class="bg-red-600 px-1 rounded">Delete</button>
                                </form>
                            </div>
                            <div>
                                {% if addr.is_primary %}
                                    <span class="text text-green-600">IS PRIMARY</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <form method="post" id="address_data">
                <input type="hidden" name="id" id="name_address_data">
                <input type="hidden" name="is_primary" value="1">
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    const clickprimary = (id) => {
        $('#name_address_data').val(id)
        $('#address_data').submit()
    }
    // $(function(){
    //     const datas = JSON.parse(window.localStorage.getItem("authdata"))

    //     $('input[name="checkmain"]').on("change", function(ini){
    //         console.log($(this).val())
    //         $.ajax({
    //             url: '/address/user/'+$(this).val(),
    //             method:"post",
    //             success: function(res){
    //                 alert("sukses")
    //             }
    //         })
    //     })
    //     {% comment %} 
    //     $.ajax({
    //         url:"/balance",
    //         method:"get",
    //         success: function(res){
    //             console.log(res)
    //         }
    //     }) 
    //     {% endcomment %}
    //     $.ajax({
    //         url:'https://api.minepi.com/v2/me',
    //         method:"get",
    //         headers: {
    //             "Authorization": "Bearer "+datas.accessToken
    //         },
    //         success: function(res){
    //             $('button[id="loginn"]').hide()
    //             $('p[id="nama"]').text(res.username)
    //             console.log("{{ request.user }}")
    //             {% if not user.is_authenticated %}
    //             window.location.href = '/login_user/?username='+res.username
    //             console.log("hello", "{{ request.user }}")
    //             {% endif %}
    //         }
    //     })
    //     {% comment %} 
    //     $.ajax({
    //         url:'https://api.minepi.com/v2/payments',
    //         headers: {
    //             "Authorization": "Bearer "+window.localStorage.getItem("accessToken")
    //         },
    //         method:"post",
    //         data:{
    //             "payment": {
    //               "amount": 10,
    //               "memo": "From app to user test",
    //               "metadata": {"test": "test metadata"},
    //               "uid": "a1111111-aaaa-bbbb-2222-ccccccc3333d"
    //             }
    //         },
    //         success: function(res){
    //             console.log(res)
    //         }
    //     }) 
    //     {% endcomment %}
    // })
</script>
{% endblock %}