{% extends 'layout.html' %}
{% load static translater %}

{% block bottom_nav %}
{% endblock %}

{% block content %}
<div class=" mt-3" >
    <div class="flex flex-col border border-solid border-inherit min-h-10 flex-column p-2 rounded mx-5">
        
        <div class="flex flex-col gap-2">
            <div class="p-3 shadow-sm border rounded-lg my-3">
                <a href="{% url 'profile' %}" class="">< {% translater user.languages.code "Back" "Back" %}</a>
            </div>
            <div>
                {% for addr in address %}
                <div class="flex flex-col border rounded-lg p-3 my-2 cursor-pointer {% if addr.is_primary %} bg-slate-400{% endif %}" >
                    <div>
                        <p class="font-bold text-[12px]">ZIP:</p>
                        <p><span class="font-normal">{{ addr.zipcode }}</span></p>
                        <p class="font-bold text-[12px]">ADDRESS:</p>
                        <p><span class="font-normal">{{ addr.address }}</span></p>
                        {% if addr.type == 1 %}
                        <span>{{ addr.province.nama }}</span> - <span>{{ addr.regency.name }}</span> - <span>{{ addr.distric.name }}</span> - <span>RT. {{ addr.rt }}</span> - <span>RW. {{ addr.rw }}</span>
                        {% endif %}
                    </div>
                    <div class="flex flex-row justify-between mt-3">
                        <div class="flex flex-row">
                            <button class="px-1 bg-orange-400 rounded-l-lg text-[12px] py-1" onclick="clickprimary('{{ addr.pk }}')">Set Primary</button>
                            <button class="px-1 bg-red-600 rounded-r-lg text-[12px] py-1" type="button" onclick="deleteaction('{{ addr.pk }}')">DELETE</button>
                        </div>
                        <form action="{% url 'delete_profile_detail' id_alamat=addr.pk %}" method="post" id="formdelete-{{ addr.id }}">
                        </form>
                        {% if addr.is_primary %}
                        <label for="" class="text-green-700">is primary</label>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="flex flex-col">
                <a href="{% url 'tambah_alamat_user' %}" class="no-underline p-1 h-8 rounded-full color-black bg-green-600 text-center text-white"> + Tambah Alamat</a>
                
            </div>
            <form method="post" id="address_data">
                <input type="hidden" name="id" id="name_address_data">
                <input type="hidden" name="is_primary" value="1">
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    // var bar = new ldBar(".mybar");
    function deleteaction (id){
        console.log("hello")
        Swal.fire({
            title: "Apakah kamu yakin ingin menghapus alamat ?",
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonText: "Yakin",
            denyButtonText: `Tidak`
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                $(`#formdelete-${id}`).submit()
            } else if (result.isDenied) {
            }
        });
    }

    function clickprimary(id){
        $('#name_address_data').val(id)
        $('#address_data').submit()
    }
    // $(function(){
    //     const datas = JSON.parse(window.localStorage.getItem("authdata"))

    //     $('input[name="checkmain"]').on("change", function(ini){
    //         console.log($(this).val())
    //         $.ajax({
    //             url: '/address/user/'+$(this).val(),
    //             method:"post",
    //             success: function(res){
    //                 alert("sukses")
    //             }
    //         })
    //     })
    //     {% comment %} 
    //     $.ajax({
    //         url:"/balance",
    //         method:"get",
    //         success: function(res){
    //             console.log(res)
    //         }
    //     }) 
    //     {% endcomment %}
    //     $.ajax({
    //         url:'https://api.minepi.com/v2/me',
    //         method:"get",
    //         headers: {
    //             "Authorization": "Bearer "+datas.accessToken
    //         },
    //         success: function(res){
    //             $('button[id="loginn"]').hide()
    //             $('p[id="nama"]').text(res.username)
    //             console.log("{{ request.user }}")
    //             {% if not user.is_authenticated %}
    //             window.location.href = '/login_user/?username='+res.username
    //             console.log("hello", "{{ request.user }}")
    //             {% endif %}
    //         }
    //     })
    //     {% comment %} 
    //     $.ajax({
    //         url:'https://api.minepi.com/v2/payments',
    //         headers: {
    //             "Authorization": "Bearer "+window.localStorage.getItem("accessToken")
    //         },
    //         method:"post",
    //         data:{
    //             "payment": {
    //               "amount": 10,
    //               "memo": "From app to user test",
    //               "metadata": {"test": "test metadata"},
    //               "uid": "a1111111-aaaa-bbbb-2222-ccccccc3333d"
    //             }
    //         },
    //         success: function(res){
    //             console.log(res)
    //         }
    //     }) 
    //     {% endcomment %}
    // })
</script>
{% endblock %}