{% extends 'layout.html' %} 
{% load static %} 
{% block bottom_nav %}
{% endblock %}
{% block content %}
<div class="mb-[100px] {% if transaksi_data|length > 2 %}{%else%} h-screen {% endif %}" id="body-screen">
    {% if user.is_authenticated %}
    <div class="flex flex-col justify-around gap-3 ">
        <div class="sticky top-[78px] bg-white">
            <div class="flex justify-between items-center gap-2 border px-2">
                <a href="/profile" class="bg-red-600 cursor-pointer px-2 my-2 rounded-full text-white" >Kembali</a>
            </div>
            <div class="bg-white gap-2 grid grid-cols-4 border text-slate-500">
                <div class="py-2 cursor-pointer {% if request.GET.status == "1" %} text-orange-600 {% endif %}" onclick="url_redirect(1)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" class="mx-auto" viewBox="0 0 24 24">
                        <g fill="none" fill-rule="evenodd">
                            <path
                                d="M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z" />
                            <path fill="currentColor" d="M4 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4Zm14 0H6v16h12V4ZM8 9a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm1 4a1 1 0 1 0 0 2h3a1 1 0 1 0 0-2H9Z" />
                        </g>
                    </svg>
                    <p class="text-center">Pesanan {{ transaksi.pending }}</p>
                </div>
                <div class="py-2 cursor-pointer {% if request.GET.status == "2" %} text-orange-600 {% endif %}" onclick="url_redirect(2)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" class="mx-auto" viewBox="0 0 24 24">
                        <path
                            fill="currentColor"
                            d="M22 8a.76.76 0 0 0 0-.21v-.08a.77.77 0 0 0-.07-.16a.35.35 0 0 0-.05-.08l-.1-.13l-.08-.06l-.12-.09l-9-5a1 1 0 0 0-1 0l-9 5l-.09.07l-.11.08a.41.41 0 0 0-.07.11a.39.39 0 0 0-.08.1a.59.59 0 0 0-.06.14a.3.3 0 0 0 0 .1A.76.76 0 0 0 2 8v8a1 1 0 0 0 .52.87l9 5a.75.75 0 0 0 .13.06h.1a1.06 1.06 0 0 0 .5 0h.1l.14-.06l9-5A1 1 0 0 0 22 16V8zm-10 3.87L5.06 8l2.76-1.52l6.83 3.9zm0-7.72L18.94 8L16.7 9.25L9.87 5.34zM4 9.7l7 3.92v5.68l-7-3.89zm9 9.6v-5.68l3-1.68V15l2-1v-3.18l2-1.11v5.7z" />
                    </svg>
                    <p class="text-center">Diproses {{ transaksi.diproses }}</p>
                </div>
                <div class="py-2 cursor-pointer {% if request.GET.status == "3" %} text-orange-600 {% endif %}" onclick="url_redirect(3)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" class="mx-auto" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path d="M5 17a2 2 0 1 0 4 0a2 2 0 1 0-4 0m10 0a2 2 0 1 0 4 0a2 2 0 1 0-4 0" />
                            <path d="M5 17H3v-4M2 5h11v12m-4 0h6m4 0h2v-6h-8m0-5h5l3 5M3 9h4" />
                        </g>
                    </svg>
                    <p class="text-center">Dikirim {{ transaksi.dikirim }}</p>
                </div>
                <div class="py-2 cursor-pointer {% if request.GET.status == "4" %} text-orange-600 {% endif %}" onclick="url_redirect(4)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" class="mx-auto" viewBox="0 0 24 24">
                        <path
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m17.8 19.817l-2.172 1.138a.392.392 0 0 1-.568-.41l.415-2.411l-1.757-1.707a.389.389 0 0 1 .217-.665l2.428-.352l1.086-2.193a.392.392 0 0 1 .702 0l1.086 2.193l2.428.352a.39.39 0 0 1 .217.665l-1.757 1.707l.414 2.41a.39.39 0 0 1-.567.411L17.8 19.817zm-11.6 0l-2.172 1.138a.392.392 0 0 1-.568-.41l.415-2.411l-1.757-1.707a.389.389 0 0 1 .217-.665l2.428-.352l1.086-2.193a.392.392 0 0 1 .702 0l1.086 2.193l2.428.352a.39.39 0 0 1 .217.665l-1.757 1.707l.414 2.41a.39.39 0 0 1-.567.411L6.2 19.817zm5.8-10l-2.172 1.138a.392.392 0 0 1-.568-.41l.415-2.411l-1.757-1.707a.389.389 0 0 1 .217-.665l2.428-.352l1.086-2.193a.392.392 0 0 1 .702 0l1.086 2.193l2.428.352a.39.39 0 0 1 .217.665l-1.757 1.707l.414 2.41a.39.39 0 0 1-.567.411L12 9.817z" />
                    </svg>
                    <p class="text-center">Ulasan</p>
                </div>
            </div>
        </div>
        {% for tr in transaksi_data %}
        <div class="flex bg-slate-100 mx-1 rounded-lg shadow-lg" onclick="show_modals('my_modal_{{ tr.id }}')">
            <div class="w-[100px] h-[100px] p-2">
                <img src="{% get_media_prefix %}{{ tr.produk.gambarutama.gambar }}" alt="" class="w-full h-full rounded-lg">
            </div>
            <div class="p-2 break-words">
                <h3 class="text-[20px] font-bold">{{ tr.produk.nama }}</h3>
                <p class="text-[12px]">Tanggal diambil: {{ tr.cart.tanggal }}</p>
                <p class="text-[13px]">{{ tr.produk.harga }} Pi</p>
                <p class="text-[12px] break-all">{% if tr.cart.catatan %} {{ tr.cart.catatan | truncatewords:5 }} {% else %} - {% endif %} </p>
            </div>
        </div>
        <dialog id="my_modal_{{ tr.id }}" class="modal">
            <div class="modal-box">
                <h3 class="text-lg font-bold text-center">Detail Barang ({{ tr.cart.kode }})</h3>
                <div>
                    <img src="{% get_media_prefix %}{{ tr.produk.gambarutama.gambar }}" alt="" class="w-full h-full rounded-lg border">
                    <div class="flex flex-col">
                        <div class="text-lg font-bold">{{ tr.produk.nama }} </div>
                        <table>
                            <tr>
                                <td class="w-[110px] align-top"><p class="text-[12px]">Tanggal diambil: </p></td>
                                <td class="w-[1px] align-top">:</td>
                                <td><p class="text-[12px]">{{ tr.cart.tanggal | date:'d M Y' }}</p></td>
                            </tr>
                            {% for t in tr.user_chart.addressuserchartitem_set.all %}
                            <tr>
                                <td class="w-[110px] align-top"><p class="font-bold text-[12px]">Alamat Pembeli:</p></td>
                                <td class="w-[1px] align-top">:</td>
                                <td>
                                    <p class="text-[12px]"><strong>{{ t.address }}</strong></p>
                                    <p class="text-[12px]">{{ t.province.nama }} / {{ t.regency.name }} / {{ t.distric.name }} / RT. {{ t.rt }} - RW. {{ t.rw }}</p>
                                </td>
                            </tr>
                            {% endfor %}
                            {% if tr.cart.status >= 3 %}
                                {% if tr.cart.nomor_resi %}
                                    <tr>
                                        <td class="w-[110px] align-top">
                                            <p class="text-[12px] font-bold"> Nomor Resi </p>
                                        </td>
                                        <td class="w-[1px] align-top">:</td>
                                        <td>
                                            <p class="text-[12px] font-bold"> {{ tr.cart.nomor_resi }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-[110px] align-top"><p class="text-[12px] font-bold">Tanggal dikirim </p></td>
                                        <td class="w-[1px] align-top">:</td>
                                        <td><p class="text-[12px] font-bold">{{ tr.cart.tanggal_dikirim | date:'d M Y' }}</p></td>
                                    </tr>
                                    <tr>
                                        <td class="w-[110px]">
                                            <p class="text-[12px] font-bold">Expedisi </p>
                                        </td>
                                        <td class="w-[1px]">:</td>
                                        <td>
                                            <p class="text-[12px] font-bold">{{ tr.cart.expedisi }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-[110px]">
                                            <p class="text-[12px] font-bold">Nomor Resi </p>
                                        </td>
                                        <td class="w-[1px]">:</td>
                                        <td>
                                            <p class="text-[12px] font-bold">{{ tr.cart.nomor_resi }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="w-[110px]">
                                            <p class="text-[12px] font-bold">Rating</p>
                                        </td>
                                        <td class="w-[1px]">:</td>
                                        <td>
                                            {% if tr.cart.ulasans %}
                                            <div class="rating">
                                                <input type="radio" value="0" name="rating-{{ forloop.counter }}" style="display: none;" class="mask mask-star-2 bg-orange-400" disabled {% if tr.cart.ulasans.produk is None %} checked {% endif %}/>
                                                <input type="radio" value="1" name="rating-{{ forloop.counter }}" class="mask mask-star-2 bg-orange-400" disabled {% if tr.cart.ulasans.produk == 1 %} checked {% endif %} />
                                                <input type="radio" value="2" name="rating-{{ forloop.counter }}" class="mask mask-star-2 bg-orange-400" disabled {% if tr.cart.ulasans.produk == 2 %} checked {% endif %} />
                                                <input type="radio" value="3" name="rating-{{ forloop.counter }}" class="mask mask-star-2 bg-orange-400" disabled {% if tr.cart.ulasans.produk == 3 %} checked {% endif %} />
                                                <input type="radio" value="4" name="rating-{{ forloop.counter }}" class="mask mask-star-2 bg-orange-400" disabled {% if tr.cart.ulasans.produk == 4 %} checked {% endif %} />
                                                <input type="radio" value="5" name="rating-{{ forloop.counter }}" class="mask mask-star-2 bg-orange-400" disabled {% if tr.cart.ulasans.produk == 5 %} checked {% endif %} />
                                            </div>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                        </table>
                        
                        
                        <p class="text-[12px] font-bold">Catatan: </p>
                        <div class="text-sm">{{ tr.cart.catatan }}</div>
                    </div>
                </div>
                <div class="modal-action">
                    {% if tr.cart.status == 3 %}
                        <button class="btn btn-sm btn-warning " onclick="confirmselesai({{ tr.id }})">Selesai</button>
                    {% endif %}
                    {% if tr.cart.status > 3%}
                        {% if tr.cart.ulasancart_set.all|length > 0 %}
                        <a class="btn btn-sm btn-success" href="{% url 'detail_transaksi_user_ulasan' tr.id %}">Edit Ulasan</a>
                        {% else %}
                        <a class="btn btn-sm btn-warning " href="{% url 'detail_transaksi_user_ulasan' tr.id %}">Tambahkan Ulasan</a>
                        {% endif %}
                    {% endif %}
                    
                    <form method="dialog">
                        <!-- if there is a button in form, it will close the modal -->
                        <button class="btn btn-sm">Close</button>
                    </form>
                </div>
            </div>
        </dialog>
        {% endfor %}
        <form action="" method="post" id="form_selesai" class="hidden">
            <input type="hidden" name="id" id="id_form">
        </form>
    </div>
    {% else %}
    <div class="flex flex-col justify-center gap-6">
        <span class="bg-red-400/20 text-red-800 text-sm p-2 font-light">Anda belum login silahkan Login terlebih Dahulu</span>
        <button id="loginn" class="bg-orange-400 text-white py-3 rounded-full" onclick="actionlogin()">Login {{ user }}</button>
    </div>
    {% endif %}
</div>
{% endblock %} 

{% block script %}
<script>
    function show_modals(ids){
        document.getElementById(ids).showModal()
    }
    function url_redirect(status=1){
        window.location.href = "/transaksi/users/list?status="+status
    }
    // function ajax_get(status=1){
    //     $.ajax({
    //         url: '{% url "transaksi_users_count_json" %}',
    //         success: function(res){
    //             let data = res.data
    //             $("#count-pesanan").text(data.pending)
    //             $("#count-diproses").text(data.proses)
    //             $("#count-dikirim").text(data.dikirim)
    //         }
    //     })
    //     $.ajax({
    //         url:"{% url 'transaksi_users_json' %}",
    //         method:"GET",
    //         data:{ status: status },
    //         success: function(response){
    //             let html = ``
    //             if(response.data.length > 5){
    //                 $('#body-screen').removeClass("h-screen")
    //             }
    //             response.data.map(res => {
    //                 html += `
    //                 <div class="rounded-lg shadow bg-white border p-2 flex flex-col">
    //                     <table>
    //                         <tr>
    //                             <td style="width:100px; font-weight:bold;">
    //                                 Produk
    //                             </td>
    //                             <td style="width:2px;">
    //                                 :
    //                             </td>
    //                             <td>
    //                                 ${res.nama_barang}
    //                             </td>
    //                         </tr>
    //                         <tr>
    //                             <td style="width:100px; font-weight:bold;">
    //                                 Price
    //                             </td>
    //                             <td style="width:2px;">
    //                                 :
    //                             </td>
    //                             <td>
    //                                 ${res.nama_barang}
    //                             </td>
    //                         </tr>
    //                         <tr>
    //                             <td style="width:100px; font-weight:bold;">
    //                                 Date
    //                             </td>
    //                             <td style="width:2px;">
    //                                 :
    //                             </td>
    //                             <td>
    //                                 ${res.nama_barang}
    //                             </td>
    //                         </tr>
    //                         <tr>
    //                             <td style="width:100px; font-weight:bold;">
    //                                 Address
    //                             </td>
    //                             <td style="width:2px;">
    //                                 :
    //                             </td>
    //                             <td>
    //                                 ${res.nama_barang}
    //                             </td>
    //                         </tr>
    //                     </table>
    //                     <span class="font-bold">${res.nama_barang}</span>
    //                     <span class="font-bold">${res.resi}</span>
    //                     <div class="grid grid-cols-2">
    //                         <div>
    //                             <span class="font-bold">Dibeli tanggal 20-12-2023</span>
    //                         </div>
    //                         <div class="w-full">
    //                             <a class="bg-green-500 rounded-full px-2 float-right right-0 cursor-pointer" href="{% url 'detail_transaksi_user' %}?detail=${res.id}">Lihat detail</a>
    //                             ${status == 3 ? `<button class="bg-yellow-500 rounded-full px-2 float-right right-0 cursor-pointer " onclick="confirmselesai(${res.id})">Selesai</button>`:``}
    //                         </div>
    //                     </div>
    //                 </div>
    //                 `
    //             })
    //             $(".list-transaksi").html(html)
    //         }
    //     })

        
    // }
    function confirmselesai(id){
        let transaksi = confirm("Apakah Transaksi Selesai ?")
        if(transaksi){
            $('[id="id_form"]').val(id)
            $('[id="form_selesai"]').submit()
            // $.ajax({
            //     url: '{% url "transaksi_users_selesai_json" %}',
            //     data: { cart_id: id },
            //     success: function(res){
            //         alert("succes")
            //         window.location.reload()
            //     }
            // })
        }
    }
    // $(function(){
    //     ajax_get()
        
    // })
    
</script>
{% endblock %}
