{% extends 'layout.html' %} {% load static %} {% block content %}

<div class="container p-4 min-h-screen">
    <div class="">
        <div class="grid grid-cols-1 gap-1 text-center shadow-lg pb-2 border rounded-lg p-3">
            <h1>Gerai Pi Indonesia - P2App Marketplace</h1>

    <p>
        The era of digitalization cannot be stopped, where the existence of digitalized transactions will dominate slowly. Previously, we had adapted it for cross-border transactions supported by the Internet where the existing marketplaces provide a level of Trust for Transactions.
    </p>

    <p>
        <strong>Gerai Pi Indonesia</strong> is one of the P2App Marketplaces which will become a Digitalization Transaction Bridge driven by Pi Coin as Crypto Currency by prioritizing Trust/Trust in the Indonesian Pi/Pioneer Community.
    </p>

    <h2>Vision:</h2>
    <p>Become the number 1 and most trusted P2App Utility Marketplace for products and services for the Pi Network community in the world, especially Indonesia.</p>

    <h2>Mission:</h2>
    <ul>
        <li>Playing the Pi ecosystem directly by involving 3rd parties to ensure security, comfort and trust in transactions.</li>
        <li>Seeking to embrace all Vendors providing Products/Services to barter with Coin Pi, especially Pioneer Indonesia.</li>
        <li>Striving to facilitate security, comfort and trust in transactions without Pioneer needing to worry about the security of Pi Coins that have been bartered/transferred for a number of products.</li>
        <li>All transactions through the Gerai Pi Indonesia Marketplace only use Coin Pi as a medium or a type of exchange/barter tool supported by Coin Pi as Cryptocurrency for Products and services without involving Fiat Money when transactions occur.</li>
    </ul>

    <p>
        The Pi outlet involves several teams who will be ready to serve 24-hour online transactions through the combined support team.
    </p>

    <p>
        Here is the Official Site of <a href="https://geraipi.id">Pi Indonesia Outlet</a>.
    </p>

    <p>
        P2App Transaction Mainnet: <a href="https://geraipi.id">https://geraipi.id</a>
    </p>

    <p>
        Pi Payment SDK Development P2App Testnet: <a href="https://testnet.geraipi.id">https://testnet.geraipi.id</a>
    </p>

    <p>
        Which has been Indexed and recognized by Pi Browser as a 3rd Party Marketplace for the Pi Ecosystem.
    </p>
        </div>
    </div>
</div>
{% endblock %} {% block script %} {% endblock %}
