{% extends 'layout.html' %} {% load static %} {% block content %}

<div class="container p-4 h-screen">
    <h1 class="font-bold my-4">All Product</h1>
    <div class="grid grid-cols-3 gap-1">
        {% for pro in produk %}
        <div class="card">
            <a href='{% url "produk_detail" pro.slug %}'>
                <img src="{% static 'sample.png' %}" class="image-fluid" alt="" />
                <span class="text-xs">Promos</span>
                <div class="flex flex-col p-2 w-full gap-1">
                    <h4 class="text-sm">{{ pro.nama }}</h4>
                    <p class="font-bold text-sm">Coin: {{ pro.harga }} π</p>
                    <p class="text-xs text-slate-600">Stock 4 | Terjual 5</p>
                </div>
            </a>
        </div>
        <div class="card">
            <a href='{% url "produk_detail" pro.slug %}'>
                <img src="{% static 'sample.png' %}" class="image-fluid" alt="" />
                <span class="text-xs">Promos</span>
                <div class="flex flex-col p-2 w-full gap-1">
                    <h4 class="text-sm">{{ pro.nama }}</h4>
                    <p class="font-bold text-sm">Coin: {{ pro.harga }} π</p>
                    <p class="text-xs text-slate-600">Stock 4 | Terjual 5</p>
                </div>
            </a>
        </div>
        <div class="card">
            <a href='{% url "produk_detail" pro.slug %}'>
                <img src="{% static 'sample.png' %}" class="image-fluid" alt="" />
                <span class="text-xs">Promos</span>
                <div class="flex flex-col p-2 w-full gap-1">
                    <h4 class="text-sm">{{ pro.nama }}</h4>
                    <p class="font-bold text-sm">Coin: {{ pro.harga }} π</p>
                    <p class="text-xs text-slate-600">Stock 4 | Terjual 5</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} {% block script %} {% endblock %}
