{% load static tailwind_tags %}
{% load i18n translater %}
<!DOCTYPE html>
<html data-theme="bumblebee" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home | Gerai Pi Indonesia</title>
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
        
        <link rel="stylesheet" href="{% static 'styletemplate.css' %}" />
        <link rel="shortcut icon" href="{% static 'logo_tunggal.png' %}" type="image/png" />
        <meta name="description" content="Belanja online dengan koin pi" />
        <meta name="theme-color" content="#b50795" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <meta name="google-adsense-account" content="ca-pub-4884781070253937">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'splide/dist/css/splide.min.css' %}" />
        <style>
            * {
                font-family: "Open Sans", sans-serif;
                font-family: "Ubuntu", sans-serif;
            }
            .goog-te-gadget-icon {
                display:none;
            }
            .goog-te-gadget-simple {
                background-color: #ecebf0 !important;
                border:0 !important;
                font-size: 10pt !important;
                font-weight:800;
                display: inline-block;
                padding:10px 10px !important;
                cursor: pointer;
                zoom: 1;
                width: 100%;
                margin-top: 10px;
            }

            .goog-te-gadget-simple  span {
                color:#3e3065 !important;
            }
            .goog-te-gadget-simple  span a {
                display:flex;
            }
            iframe#\:2\.container{
                display: none;
            }
            body{
                top:0 !important;
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;
            }
            ::-webkit-scrollbar {
                display: none;
            }
        </style>
        {% block styles %}{% endblock %}
        <link rel="stylesheet" href="{% static 'loading/loading-bar.css' %}">
        
        {% tailwind_css %}
        <script>
            // window.onerror = function (message, file, line, col, error) {
            //     alert("Error occurred: " + error.message);
            //     return false;
            // };
            // window.onerror = function (message, file, line, col, error) {
            //     alert("Error occurred: " + error.message);
            //     return false;
            // };
            // window.addEventListener("unhandledrejection", (event) => {
            //     event.preventDefault(); // This will not print the error in the console });

            //     console.log("Unhandled promise rejection"); 
            //     console.log(event.reason);
            //     alert(event.reason)
            // });

        </script>

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4884781070253937" crossorigin="anonymous"></script>
    </head>

    <body style="background-color: aliceblue">
        <div class="container-mobile mx-auto bg-white scroll-smooth min-h-screen no-scrollbar">
            {% block header %} 
                {% include 'component/header_home.html' %} 
            {% endblock %}

            {% block content %} 
            {% endblock %}

            {% block bottom_nav %} 
                {% include 'component/bottom_home.html' %} 
            {% endblock %}
        </div>
        <!-- <div class="mybar w-full h-screen hidden" data-preset="bubble" data-pattern-size="10"></div> -->
        <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://sdk.minepi.com/pi-sdk.js"></script>
        <script src="{% static 'splide/dist/js/splide.min.js' %}"></script>
        <script src="{% static 'loading/loading-bar.js' %}"></script>
        <script>
            // you usually would check the ads support ahead of time and store the information
            (async () => {
                const is_active = {% if 'ENV_SANDBOX'|env %}true{% else %}false{% endif %}
                await Pi.init({ version: "2.0", sandbox: is_active });
                const nativeFeaturesList = await Pi.nativeFeaturesList();
                const adNetworkSupported = nativeFeaturesList.includes("ad_network");

                // const showAdResponse = await Pi.Ads.showAd("rewarded");
                // if (showAdResponse.result === "AD_REWARDED") {
                //     // delegate rewarding user to your backend
                //     // e.g.:
                //     const result = await rewardUserForWatchingRewardedAd(showAdResponse.adId);
                //     if (result.rewarded === true) {
                //         grantUserAdditionalLive();
                //     }
                // }
                // store adNetworkSupported for later use
            })();
        </script>

        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/63c2856347425128790d6f33/1gmnti3t1';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
            })();
        </script>
    

        <!-- <script>
            const scopes = ["username", "wallet_address", "payments"];
            // Read more about this callback in the SDK reference:
            function onIncompletePaymentFound(payment) {
                console.log(payment);
            }
            Pi.authenticate(scopes, onIncompletePaymentFound)
                .then(function (auth) {
                    const me = axios.get("https://api.minepi.com/v2/me", {
                        headers: {
                            Authorization: `Bearer ${auth.accessToken}`,
                        },
                    });
                    console.log(me);
                })

            Pi.authenticate(scopes, onIncompletePaymentFound)
            .then(async function (auth) {
                window.localStorage.setItem("accessToken", auth.accessToken)
                window.localStorage.setItem("authdata", JSON.stringify(auth))
                {% block script_transaction %}
                {% endblock %}

                {% comment %} 
                const data = {
                    "amount": 10.0,
                    "memo": "From app to user test",
                    "metadata": {"test": "test metadata"},
                    "uid": auth.uid
                }
                let txid = null 
                {% endcomment %}

                {% comment %} 
                Pi.createPayment(data, {
                    onReadyForServerApproval(params){
                        $.ajax({
                            url:'/approve/'+params,
                            method:'get',
                            success: function(res){
                                console.log("txid", res)
                                txid = res
                            }
                        })
                    },
                    onReadyForServerCompletion(params){
                        $.ajax({
                            url:'https://api.minepi.com/v2/payments/'+params,
                            headers:{
                                "Authorization": "Key zctbppuogdr61nntu9rjpftl32iot4e1qfsxtawchailn1bqmensmrarqrbowtzh"
                            },
                            success: function(res){
                                $.ajax({
                                    url:'https://api.minepi.com/v2/payments/'+params+"/complete",
                                    headers:{
                                        "Authorization": "Key zctbppuogdr61nntu9rjpftl32iot4e1qfsxtawchailn1bqmensmrarqrbowtzh"
                                    },
                                    data:{
                                        txid: res.transaction.txid
                                    },
                                    method:'post',
                                    success: function(res){
                                        console.log(res)
                                    }
                                })
                            }
                        })
                    },
                    onError(param){
                        console.log(param)
                    }
                }) 
                {% endcomment %}
            })
            .catch(function (error) {
                alert(error);
            });
        </script> -->
        <script type="module">
            import { initializeApp } from 'https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js'

            // If you enabled Analytics in your project, add the Firebase SDK for Google Analytics
            import { getAnalytics } from 'https://www.gstatic.com/firebasejs/10.7.1/firebase-analytics.js'

            import {getMessaging, getToken} from 'https://www.gstatic.com/firebasejs/10.7.1/firebase-messaging.js'

            // Your web app's Firebase configuration
            // For Firebase JS SDK v7.20.0 and later, measurementId is optional
            const permission = await Notification.requestPermission();
            const firebaseConfig = {
              apiKey: "AIzaSyCsEEl7bhST8VHrK3ovbEfMxCUcHZngKg0",
              authDomain: "geraipi.firebaseapp.com",
              projectId: "geraipi",
              storageBucket: "geraipi.appspot.com",
              messagingSenderId: "1071852496864",
              appId: "1:1071852496864:web:c5e8338dc67fa12d9bad85",
              measurementId: "G-SW3CZ09N71"
            };
            // Initialize Firebase
            const app = initializeApp(firebaseConfig);
            const analytics = getAnalytics(app);
            const messaging = getMessaging(app);
            // Add the public key generated from the console here.
            let token = await getToken(messaging, {vapidKey: "BFN7KQFtuiq9l_tkSE3GcS66hqmsG7ddDjL5wrpSlegQY5_YGzp1LD5F3vn74RP4skldx5A_7k9DQuswI5zYUEs"})
            if(token){
                $.ajax({
                    url: '{% url "fcm_token" %}',
                    method: "post",
                    data: { fcm_token: token },
                    success: function(){
                        console.log("success")
                    }
                })

            }else{

            }
        </script>
        <script>
        </script>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
        <script>
        </script>
        {% block script %}
        <script>
            async function getAuth() {
                const scopes = ["username", "wallet_address", "payments"];
                Pi.authenticate(scopes, function (e) { alert(e) }).then(function (auth) {
                    loginDJ(auth);
                });
            }

            async function scMe() {
                // const {accessToken} = await JSON.parse(window.localStorage.getItem('user'))
                // console.log(accessToken)
                // fetch(`${url_social}api/me`,{
                //     mode:'cors',
                //     headers: {
                //         "Access-Control-Allow-Origin" :'*',
                //         'Authorization':`Bearer ${accessToken}`,
                //         "Access-Control-Allow-Methods":'GET'
                //     }
                // }).then(function(e){
                //     console.log("rrr",e)
                // })
            }

            async function loginDJ(auth) {
                const data = auth;
                if (data) {
                    const { user } = data;
                    if (user.username) {
                        window.location.href = "/login_user/?username=" + user?.username;
                    }
                } else {
                    alert("Login error");
                }
            }
        </script>
        {% endblock %}
        
    </body>
</html>
