{% extends 'layout.html' %} {% load static %} {% block content %}

<div class="container p-4 h-full">
    <h1 class="font-bold my-4">Sedang Promo</h1>
    <div class="grid grid-cols-2 gap-1">
        {% for pro in produk %}
        <div class="min-w-[112px] border rounded-xl overflow-hidden">
            <a href='{% url "detail_produk" pro.slug %}'>
                {% if pro.gambarutama %}
                <img src="{% get_media_prefix %}{{pro.gambarutama.gambar}}" class="object-cover max-h-40 w-full" alt="" />
                {% else %}
                <img src="{% static 'sample.png' %}" class="image-fluid" alt="" />
                {% endif %}
                <span class="text-xs bg-fuchsia-700 px-2 rounded-r-full p-1 font-semibold text-white">Promo</span>
                <div class="flex flex-col p-2 w-full gap-1">
                    <h4 class="text-xs">{{ pro.nama }}</h4>
                    <p class="font-bold text-xs">Coin: {{ pro.harga }} π</p>

                    <p class="text-xs text-slate-600">Stock {{pro.stok_produk}}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} {% block script %} {% endblock %}
